* {
  transition: all 0.3s ease-in-out;
  /* border: 1px solid; */
}

.headerInner {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  flex-wrap: wrap;
}
.nav__link {
  font-family: Playfair Display;
}

.cover {
  background-image: url("./img/bg_tittle.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 95vh;
}
.coverInner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 95vh;
}
.cover__tittle {
  font-size: 64px;
  padding-bottom: 22px;
}
.cover__text {
  font-size: 36px;
  padding-bottom: 53px;
}

.aboutUs {
  display: flex;
  margin-top: 117px;
  align-items: center;
  justify-content: space-between;
}
.aboutUs__img {
  margin-right: 77px;
  width: 70%;
}
.button {
  border: 1px solid;
  padding: 14px 27px;
  transition: all 0.5s ease-in-out;
}
.button:hover{
  background: #76946d;
  color:#fff;
  border-color: #fff;
}
.button:active{
  background: #556a4f;
}
.aboutUS__tittle {
  padding-bottom: 16px;
}
.catalog {
  margin-top: 152px;
}
.catalog__carts {
  display: flex;
  flex-wrap: wrap;
  gap: 62px 15px;
  justify-content: center;
}
.catalog__tittle {
  padding-bottom: 14px;
}
.cart {
  margin-top: 62px;
}
.cart__button {
  margin-top: 40px;
}
.cart__text {
  display: flex;
  justify-content: space-between;
}
.cart__img {
  width: 100%;
}

.guide {
  background-image: url("./img/bg_main.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 74vh;
  margin: 152px 0 131px 0;
}
.guideInner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 70vh;
}
.guide__tittle {
  margin-bottom: 43px;
}
.form__input {
  display: flex;
  margin-bottom: 60px;
  flex-wrap: wrap;
}
.input {
  padding: 14px 28px;
}
.input:first-child {
  margin-right: 42px;
}
.input:focus {
  outline: 0;
}
.blog__tittle {
  margin-bottom: 14px;
}
.blog__text {
  margin-bottom: 76px;
}
.blog__posts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 57px 18px;
}
.post__img {
  margin-bottom: 22px;
  width: 100%;
}

.contacts {
  margin-top: 165px;
  background-image: url("./img/bg_footer.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
}
.contactsInner {
  display: flex;
  flex-direction: column;
  margin-left: 50%;
  justify-content: center;
  height: 70vh;
}

.contacts__tittle {
  margin-bottom: 60px;
}
.contacts__item {
  padding-bottom: 18px;
}
.contacts__link {
  font-family: Roboto;
}
footer {
  display: flex;

  font-family: Playfair Display;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 800px) {
  .nav__link{
    font-size: 35px;
  }
  .header {
    margin-bottom: 20px;
  }
  .aboutUs {
    flex-direction: column-reverse;
  }
  .aboutUs__img {
    margin: 0;
  }
  .aboutUs,
  .catalog,
  .blog {
    text-align: center;
  }
.input{
  padding: 20px 50px;
}
.input::placeholder{
  font-size: 30px;
}
  .form__input {
    display: flex;
    flex-direction: column;
  }
  .input:first-child {
    margin-right: 0;
    margin-bottom: 20px;
   
  }
  .headerInner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .coverInner {
    text-align: center;
    align-items: center;
  }

  .aboutUs__text {
    text-align: center;
    margin-bottom: 20px;
  }
  .guide__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .guideInner {
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    text-align: center;
  }
  .contacts-inner {
    text-align: center;
    margin-left: 0;
  }
  .button{
  padding: 20px 40px;
  font-size: 40px;
  }
  p{
    font-size: 25px;
  }
}

@media (max-width: 515px) {
  .header-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .cover__tittle {
    font-size: 50px;
    padding-bottom: 11px;
  }
  .cover {
    background-image: url("./img/bg_tittle.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
  }
  .cover__text {
    font-size: 20px;
    padding-bottom: 30px;
  }
  .guide{
    padding-top: 100px;
  }
  .button{
    padding: 20px 40px;
    font-size: 30px;
    }
  h1,
  h2 {
    font-size: 35px;
  }
  .input {
    padding: 14px 20px;
  }

  .guide{
    height: 100vh;
  }
}